
<h1 class="show-title"><%= @genre.name.titleize %></h1>
<ul>
  <% @genre.playlists.each do |playlist| %>
    <li><%= link_to playlist.seed_artist.titleize, playlist_path(playlist) %> </li>
  <% end %>
</ul>

<%= render partial: 'genres/genre_dropdown' %>
