---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/search?api_key=1234&artist=Beck&bucket=tracks&limit=true&results=1&sort=song_hotttnesss-desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 7545e:25848
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 5KBOJ3MEOY97EZ23N
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": [{"title": "Loser", "artist_name": "Beck", "artist_foreign_ids":
        [{"catalog": "spotify", "foreign_id": "spotify:artist:3vbKDsSS70ZX9D2OcvbZmS"}],
        "tracks": [{"album_type": "album", "album_date": "1994-01-18", "foreign_release_id":
        "spotify:album:14Bh5QtBaH7FRZ1jK55X3z", "catalog": "spotify", "foreign_id":
        "spotify:track:6h6p4WuDlZVdBfmGqT0dcR", "album_name": "Loser", "id": "TRRATZT144D1AFFF8A"},
        {"album_type": "unknown", "album_date": "1994-03-01", "foreign_release_id":
        "spotify:album:7MKi8PuCX5QJtaG9wLbOI2", "catalog": "spotify", "foreign_id":
        "spotify:track:4b8GTae6rqb9oPiRzVa3Gy", "album_name": "Mellow Gold", "id":
        "TRYSFTR144D1569020"}, {"album_type": "unknown", "album_date": "1994-03-01",
        "foreign_release_id": "spotify:album:1M1dhwZE65bqGfbUdMzvlj", "catalog": "spotify",
        "foreign_id": "spotify:track:5NTZM8YYeKM[...]
