---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/browse/featured-playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAST2oR-N7sgSh8uiVO9mhFQkDEyJNaEGpNdKbkngEG65m4wiZYUydhxSa2U6B7X2e-pSXjdf17P6_8rPixY4TgwxSXaWfL5CWBtcntEfQ9VoRVpNYNjbRhM6GMbAzs8V2X7gdC30zsBmU1-uLTkfcUXTViQar_Wzk-xUe_zsJLyAQ3ymF_sLVMuuo4DonU_IPZ3PxfawNeohgJs5jPCVdJ5cSZnzI3fp9G92hljmaDsOtKfvMAs11svkY
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "message" : "Enjoy a peaceful evening...",
          "playlists" : {
            "href" : "https://api.spotify.com/v1/browse/featured-playlists?timestamp=2015-03-18T21:39:31&offset=0&limit=20",
            "items" : [ {
              "collaborative" : false,
              "external_urls" : {
                "spotify" : "http://open.spotify.com/user/spotify/playlist/0lBxkSj5VzRfcy8gxFUB5E"
              },
              "href" : "https://api.spotify.com/v1/users/spotify/playlists/0lBxkSj5VzRfcy8gxFUB5E",
              "id" : "0lBxkSj5VzRfcy8gxFUB5E",
              "images" : [ {
                "height" : 300,
                "url" : "https://i.scdn.co/image/e5771727a3699f0fc795afbe587a2f5b4f5ca91d",
                "width" : 300
              } ],
              "name" : "Peaceful Indie Ambient",
              "owner" : {
                "external_urls" : {
                  "spotify" : "http://open.spotify.com/user/spotify"
                },
                "href" : "https://api.spotify.com/v1/users/spotify",
                "id" : "spotify",
                "type" : "user",
                "uri" : "spotify:user:spotify"
              },
              "public" : null,
              "tracks" : {
                "href" : "https://api.spotify.com/v1/users/spotify/playlists/0lBxkSj5VzRfcy8gxFUB5E/tracks",
                "total" : 75
              },
              "type" : "playlist",
              "uri" : "spotify:user:spotify:playlist:0lBxkSj5VzRfcy8gxFUB5E"
            }, {
              "collaborative" : false,
              "external_urls" : {
                "spotify" : "http://open.spotify.com/user/spotify/playlist/0mTqANDkS6KLEGGKBKXPPe"
              },
              "href" : "https://api.spotify.com/v1/users/spotify/playlists/0mTqANDkS6KLEGGKBKXPPe",
              "id" : "0mTqANDkS6KLEGGKBKXPPe",
              [...]
