

<% if user_signed_in? %>
  Signed in as <%= current_user.name %>
  <div id="user-image">
    <%= image_tag current_user.image_link  %>
  </div>
  <br>
  <%= render partial: 'playlists/playlist_create' %>
<% else %>
  <div class="spotify-login button success radius"><%= link_to 'Log In with Spotify', new_session_path %></div>

    Sign in with spotify to get started...
<% end %>
