%h2.playlistior-heading
  %a{:href => "#"} Playlistior
%p.playlistior-summary
  The
  %em Superior
  harmonic mixing playlist generator for Spotify
.splash-image
.splash-overlay
  .splash-overlay-backdrop
  .splash-overlay-container
    .spotify-login.button.radius.right.waves-effect.waves-light
      = link_to "Sign in with Spotify to begin", new_session_path
