<div class="row playlist-show">
  <div class="large-6 columns about-me">
    <h3 class="playlist-header">Tyler Triggs, web developer</h3>
    <small class="playlist-attribution">Find me on <a href="http://www.github.com/ttriggs">Github</a></small>
    <br>
    <img class="my-face" src="https://avatars1.githubusercontent.com/u/8800899?v=3&s=460">
    <p></p>
    <h4>Current Location:</h4>
    <p>Chicago, IL</p>
    <h4>Education:</h4>
    <p>B.S. in Neuroscience from Trinity College, CT</p>
    <h4>Hobbies/Interests:</h4>
    <p>Music writing, production, neuroscience, audio and electrical engineering, photography, running, Tetris, cooking, laughing, and reading.</p>
    <h4>What were you up to before web development?</h4>
    <p>Before pursuing web development, I worked as a senior neuroscience research technician at an MIT, Harvard, and Massachusetts General Hospital-affiliated lab. In my five year tenure, I earned two promotions as well as led and trained six research technicians. Our work primarily consisted of large scale data processing of human brain MRI data. There, life on the command line, working in *NIX environments, and utilizing scripting languages (tcsh, Bash, Python) became the norm.  To keep up with our widening research scope and multi-terabyte analyses, I wrote a job scheduler script that could intelligently parallelize our data crunching across local and remote compute cluster resources. Beyond increasing my team's output, this tool provided a uniform solution for standard output and error logging. Reflecting on my time at MGH, I found coding solutions both creative and empowering.</p>

    <h4>Why did you decide to change career paths from neuroscience to web development?</h4>
    <p>What ultimately brings me to web development is my longstanding interest in computer programming. Flash back to my first experience in programming via my middle school Casio calculator. Once I discovered its programming feature, I started tinkering with its capabilities in hopes of making little games for it. I had the consumer-grade gaming consoles, but the thought of creating my own was totally captivating. Sure, it meant spending hours hacking things together to make ASCII art figures run across the screen. But for middle school Tyler, this was SO COOL.</p>
    <p>Through my work as a research technician I realized my natural interest was in the development of flexible tools to make my and my coworkers' efforts more impactful. Armed with this new self-truth, I decided to persue software development.</p>

    <h4>What happened next?</h4>
    <p>After checking out various local bootcamp programs online, I turned to a couple of my friends who were successful developers themselves. Through their recommendations, one program quickly rose through the stack:</p>
      <blockquote>
      <p style="color:white;"><a href="www.launchacademy.com/" target="_blank">Launch Academy</a> (Boston, MA) is a 10-week, immersive bootcamp taking eager learners with little to no experience and teaching them what it takes to add value as a junior contributor to a software engineering team.</p>
      </blockquote>
      <p>As a Ruby on Rails apprentice at Launch Academy I gained hands-on experience with building Rails and Sinatra web apps using Ruby, JavaScript, CSS, SASS, and Postgresql. As my final project, I created “Playlistior: The Superior Playlist Generator,” a Rails app that utilizes song data gathered from the Echonest API as part of a harmonic mixing algorithm to prevent disharmonious song changes. Visualization of the harmonic mixing algorithm’s performance was implemented using Highcharts hooked into a backend API to feed JSON data of each song’s key, mode, and “energy” level. Testing for the app was performed using Rspec, Capybara, and the VCR gem to record HTTP requests to the Spotify and Echonest APIs, allowing for a fast and reliable test suite. </p>
    <h4>More about your time at Launch Academy?</h4>
    <p>Check out my <a href="https://tylertriggs.wordpress.com/">blog</a>!</p>
  </div>

  <div class="large-6 columns">
    <h3 class="playlist-header">Live with <a href="http://www.parachuterband.com/" target="_blank">Parachuter</a></h3>
    <small class="playlist-attribution">official <a href="http://www.ParachuterBand.com" target="_blank">website</a></small>
      <div class="slick-carousel carousel-shadow">

        <div><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xtf1/t31.0-8/11080565_954514844561501_3637326138587714472_o.jpg"></div>

        <div><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xpt1/t31.0-8/1523900_954514761228176_6388304158649291164_o.jpg" /></div>

        <div><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xap1/t31.0-8/11078086_954514631228189_4768562860388965811_o.jpg" /></div>
        <!-- band group -->
        <div><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xfp1/t31.0-8/10926281_910004949012491_5532240506937694614_o.jpg" /></div>

        <!-- live mideast -->
        <div><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xap1/t31.0-8/10873363_897273966952256_6517322562717477600_o.jpg" /></div>

        <!-- live PAs -->
        <div><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xap1/t31.0-8/1465717_890494820963504_1222473970894105741_o.jpg" /></div>

         <!-- live PAs -->
        <div><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xap1/t31.0-8/10338619_782382961774691_72420434073644617_o.jpg" /></div>

        <!-- live long ago -->
        <div><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xap1/t31.0-8/1529882_709783925701262_1188513600_o.jpg" /></div>

        <!-- live paradise -->
        <div><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1377355_672812979398357_1462874508_n.jpg?oh=7aa0abfec0bcc76ead6cc70e2625c6a7&oe=55C95171" /></div>

        <!-- live pas -->
        <div><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xfa1/t31.0-8/169946_505453186134338_1996980847_o.jpg" /></div>

        <!-- live crrzzy -->
        <div><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xpf1/t31.0-8/664667_10152174525175577_1011862231_o.jpg" /></div>
      </div>
  </div>
</div>


