/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

html {
  font-size: 1.3em;
}

body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial;
  font-weight: 100;
}
/* Title Bar */

.top-bar-section .has-dropdown.not-click:hover>.dropdown.scroll-list{
  height: 300px !important;
  /* Forced to use !important to overwrite Foundation styles */
  overflow: scroll;
}


ul#hover1.small.f-dropdown.open.f-open-dropdown {
  height: 200px !important;
  /* Forced to use !important to overwrite Foundation styles */
  overflow: scroll;
  -webkit-box-shadow: 1px 10px 53px -18px rgba(0,0,0,1);
  -moz-box-shadow: 1px 10px 53px -18px rgba(0,0,0,1);
  box-shadow: 1px 10px 53px -18px rgba(0,0,0,1);
}

.top-bar-section > ul > li > a {
  transition: all 0.3s ease;
}

$title-color: #F0DC05;

@mixin title-font {
  font-family: 'Great Vibes', cursive;

  color: lighten($title-color, 15%) !important;
  text-shadow: darken($title-color, 10%) 1px 1px 5px;
  transition: all 0.5s linear !important;
}

.playlistior-title {
  padding: 0.1rem 2rem;

  a {
    @include title-font;

    font-size: 2rem !important;

    &:hover {
      color: $title-color !important;
      text-shadow: darken($title-color, 25%) 1px 1px 0px;
    }
  }
}

/** Body */

.content {
  margin-top: 1rem;
}

.center {
  text-align: center;
}

label {
  display: inline-block;
}

hr {
  border-color: $title-color;
}

.flash {
  width: 100%;
  padding-left: 20px;
}

.flash-notice {
  background: #33a;
}

.flash-info {
  background: #3a3;
}

.flash-alert, .flash-error {
  background: #a33;
}

.footer, .footer ul, .footer li, .footer em {
  font-size: 0.75rem !important;

  .attributions {

  }
  li.left-production {
    margin-left: 3.25em;
  }
}


/** Public Home Page */

.playlistior-heading {
  @include title-font;
  font-size: 3rem !important;
  text-align: center;
  margin: 0 !important;
}

.playlistior-summary {
  text-align: center;
  font-weight: 50;
}

.splash-image {
  float: left;
  z-index: -1;
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-width: 100%;
  background: url(images/blurredlights.jpg) right bottom;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.splash-overlay {
  position: absolute;
  bottom: 0;
  right: 2rem;
  padding: 0.5rem;
  text-shadow: darken($title-color, 20%) 1px 1px 0px;

  a {
    color: #fff !important;
  }
}

ul li.signed-in-as {
  font-size: 0.75rem;
  padding: 0 0.9375rem;
  line-height: 2.8125rem;
  background: #222222;
}

.user-thumbnail {
  margin-left: 1rem;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  box-shadow: #fff 0 0 1px;
}

.f-dropdown {
  list-style: none;

  li {
    float: none !important;
    display: block;
  }
}

ul#hover1.small.f-dropdown.open.f-open-dropdown {
  height: auto !important;
  max-height: 270px;
  background: #000;
  border: none;
}

/* Playlist popup */

.white-popup {
  position: relative;
  background: #a0a0a0;
  padding: 25px;
  width:auto;
  max-width: 400px;
  margin: 0 auto;
}

ul.popup-text {
  color: #000;
  text-align: center;
}

h2#popup-title {
  color: #000;
}

p#popup-small-text {
  font-size: 0.9em;
}

p#popup-medium-text {
  font-size: 1em;
}

#hm-link {
  color: #0003A3;
  text-decoration: underline;
}

/** Playlist show */

.playlist-show {
  form {
    display: inline-block;
  }
}

.playlist-header {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.playlist-attribution {
  font-weight: italic;
  position: relative;
  top: -10px;
}

.playlist-button {
  width: 140px;
  border-radius: 0.25rem !important;
  margin-right: 1rem;
}

.full-playlist-button {
  width: 300px;
}

.spotify-widget {
  box-shadow: #000 1px 1px 3px;
}

/** Playlists index */

.playlists-list {
  list-style: none;
  margin-left: 0;

  li {
    background: #444;
    border-left: #000 1px solid;
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;

    transition: all 0.5s ease;

    &:first-child {
      border-top: #000 1px solid;
    }

    &:hover {
      background: #666;
    }

    a {
      padding: 0.25rem;
      width: 100%;
      height: 100%;
      display: inline-block;
      color: #fff !important;
    }
  }
}


/* ====== 3d unfold ====== */
.mfp-3d-unfold {
  .mfp-content {
    perspective: 2000px;
  }

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(-60deg);
  }


  &.mfp-bg {
    opacity: 0;
    transition: all 0.5s;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: rotateY(0deg);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .mfp-with-anim {
      transform: rotateY(60deg);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}


// typeahead:
// http://jsfiddle.net/Fresh/1hrk0qso/
span.twitter-typeahead {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
}

.tt-dropdown-menu, .gist {
  text-align: left;
  color: #000;
}

.typeahead, .tt-query, .tt-hint {
  border: 2px solid #CCCCCC;
  border-radius: 8px 8px 8px 8px;
  font-size: 24px;
  height: 30px;
  line-height: 30px;
  outline: medium none;
  padding: 8px 12px;
  width: 396px;
}
.typeahead {
  background-color: #FAFAFA;
}
.typeahead:focus {
  border: 2px solid #B0B0B0;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #999999;
}
.tt-dropdown-menu {
  background-color: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px 2px 6px 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: -15px;
  padding: 0;
  width: 100%;
}
.tt-suggestion {
  font-size: 18px;
  line-height: 24px;
  padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
  background-color: #B0B0B0;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}
.gist {
  font-size: 14px;
}
