/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/* ***************************************************
 *               OPTION ONe :: SCROLL LIST         *
 *****************************************************/
.top-bar-section .has-dropdown.not-click:hover>.dropdown.scroll-list{
  height: 300px !important;
  /* Forced to use !important to overwrite Foundation styles */
  overflow: scroll;
}

ul#hover1.small.f-dropdown.open.f-open-dropdown {
  height: 200px !important;
  /* Forced to use !important to overwrite Foundation styles */
  overflow: scroll;
  -webkit-box-shadow: 1px 10px 53px -18px rgba(0,0,0,1);
  -moz-box-shadow: 1px 10px 53px -18px rgba(0,0,0,1);
  box-shadow: 1px 10px 53px -18px rgba(0,0,0,1);
}




/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 400px;
  margin: 0 auto;
}


/*

====== 3d unfold ======

*/
.mfp-3d-unfold {
  .mfp-content {
    perspective: 2000px;
  }

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(-60deg);
  }


  &.mfp-bg {
    opacity: 0;
    transition: all 0.5s;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: rotateY(0deg);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {

    .mfp-with-anim {
      transform: rotateY(60deg);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }

  }

}


