<!-- Camelot Popup -->
<div id="camelot-popup" class="white-popup mfp-with-anim mfp-hide">
  <ul class="popup-text">
    <p><h2 id="popup-title">Playlistior, Activate!</h2></p>
    <p id="popup-medium-text">Now using a <a id="hm-link" href="http://en.wikipedia.org/wiki/Harmonic_mixing" target="_blank">Harmonic Mixing</a> algorithm to optimize play order...</p>
    <p id="popup-small-text"><b>Note:</b> playlists you create are visible here and in your spotify player</p>
  </ul>
</div>

