/ Camelot Popup
#camelot-popup.white-popup.mfp-with-anim.mfp-hide
  %ul.popup-text
    %h2#popup-title Playlistior,
    %p#popup-large-text Activate!
    %p#popup-medium-text
      Now using the key and mode of each track as part of a
      %a#hm-link{:href => "http://en.wikipedia.org/wiki/Harmonic_mixing", :target => "_blank"} Harmonic Mixing
      algorithm to optimize play order...
    %p#popup-small-text
      %b Note:
      playlists you create are visible here and in your Spotify player
