/ Extend Popup
#extend-popup.white-popup.mfp-with-anim.mfp-hide
  %ul.popup-text
    %h2#popup-title Playlistior,
    %p#popup-large-text Activate!
    %p#popup-medium-text Now extending your playlist!
    %p#popup-small-text
      %b Note:
      playlists you create are visible here and in your Spotify player
