

<h3 id="your-playlists">Your Playlistiors:</h3>

<% @playlists.where(user_id: current_user.id).each do |playlist| %>
  <ul>
    <li>
      <%= link_to playlist.seed_artist.titleize, playlist %>
    </li>
  </ul>
<% end %>

<% followed_playlists = all_playlists_following %>
<% if followed_playlists.any? %>
  <h3 id="followed-playlists">Followed Playlists:</h3>
  <% followed_playlists.each do |playlist| %>
    <ul>
      <li>
        <%= link_to playlist.seed_artist.titleize, playlist %>
      </li>
    </ul>
  <% end %>
<% end %>

<h3 id="their-playlists">Their Playlistiors:</h3>

<% @playlists.where.not(user_id: current_user.id).each do |playlist| %>
  <ul>
    <li>
      <%= link_to playlist.seed_artist.titleize, playlist %>
    </li>
  </ul>
<% end %>

<%= render partial: 'genres/genre_dropdown' %>
