
<div class="row">
  your playlist:
  inspired by <%= @playlist.seed_artist %>
  built by Playlistior
</div>
 <div class="row">
 <iframe src=<%= @playlist.spotify_embed %> frameborder="0" allowtransparency="true" width="300" height="380"></iframe>
</div>
